{% extends 'base.html'%}

{% block head %}
<title>TGrabber</title>
{% endblock %}

{% block body %}

<h1 id="Head"> TGrabber </h1>

<form action="/" method="POST" id="form">
    <label for="username">Username : </label>
    <input type="text" name="username" id="username">
    <br>
    <label for="tweets_count">Number of tweets to get : </label>
    <input type="number" id="tweets_count" name="tweets_count" min="1" max="1000">
    <br>
    <input type="submit" name="search" id="search">
</form>


{% endblock %}
